.chat-main
  .chat-main__group-info
    .group-info
      .group-info__name
        test
      .group-info__members
        Member: name
    .edit-btn
      = link_to "Edit", "#"
  .chat-main__message-list
    .chat-box
      .chat-info
        .chat-info__name
          name
        .chat-info__date
          20XX/XX/XX(day) 00:00:00
      .chat-message
        hello, everyone
  .chat-main__message-form
    .form-box
      .form-input
        %input{type: "text", class: "input-box", placeholder: "type a message"}
        .image-btn
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file"}
    .form-submit 
      %input{type: "submit", value: "Send", class: "submit-btn"}
    