@import "reset";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper {
  display: flex;

  // left_side
  .side-bar {
    height: 100vh;
    width: 300px;
    background-color: #253141;

    &__user-name {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .top-items {
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;

        &__name {
          color: #ffffff;
          font-weight: bold;
        }

        &__icons {
          .btn-icon {
            color: #ffffff;
            text-decoration: none;
            margin-left: 5px;
          }      
        }
      }
    }

    &__group-list {
      height: calc(100vh - 100px);
      background-color: #2f3e51;

      .group {
        height: 91px;
        width: 260px;
        color: #ffffff;

        &-box {
          height: 31px;
          width: 260px;
          padding: 20px 20px 40px;

          &__name {
            font-size: 15px;
          }

          &__new-message {
            font-size: 11px;
            margin-top: 5px;
          }
        }
      }
    }
  }

  // right_side
  .chat-main {
    height: 100vh;
    width: calc(100% - 300px);
    background-color: #fafafa;

    &__group-info {
      background-color: #ffffff;
      height: 100px;
      border-bottom: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      .group-info {
        margin-left: 40px;
        &__name {
          color: #333333;
          font-size: 20px;
          margin-top: 35px;
        }
        &__members {
          color: #999999;
          font-size: 12px;
          margin-top: 15px;
        }
      }

      a {
        color: #38aef0;
        text-decoration: none;
        display: block;
      }

      .edit-btn {
        height: 40px;
        width: 72px;
        font-size: 16px;
        border: 1px solid #38aef0;
        line-height: 40px;
        text-align: center;
        margin: 28px 40px auto;
      }
    }

    &__message-list {
      height: calc(100vh - 100px - 90px);
      background-color: #fafafa;

      .chat-box {
        margin: 35px 40px 46px;
        
        .chat-info {
          display: flex;
          &__name {
            font-size: 16px;
            color: #333333;
            font-weight: bold;
            margin-right: 5px;
          }
          &__date {
            color: #999999;
            font-size: 12px;
          }
        }
        .chat-message {
          font-size: 14px;
          color: #434a54;
          margin-top: 12px;
        }
      }
    }

    &__message-form {
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}
